

/* ==========================================================================
   Brett Gaynor Web Development Site Custom CSS
   Author: Brett Gaynor
   Created: 10/10/15
   All Rights Reserved
   ========================================================================== */

/******************************************

GLOBES

********************************************/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: "Cabin", Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", Helvetica, sans-serif;
}
.container.bg-full-width {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.bg-page-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.bg-page-header .title {
  font-size: 3.5em;
  line-height: 2.25em;
  text-transform: uppercase;
}
.bg-page-header .subtitle {
  font-size: 1.75em;
  line-height: 1.5em;
}
.bg-main-content {
  padding-top: 50px;
}
.title {
  font-size: 2.25em;
  line-height: 1.75em;
  text-transform: uppercase;
}
.subtitle {
  font-size: 1.2em;
  line-height: 1.5em;
}

/******************************************

MAIN NAV

********************************************/

a.nav-expander {
  background: none repeat scroll 0 0 #000000;
  color: rgba(255,255,255,.3);
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-right: 0;
  padding: .75em 1em 2em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 110px;
  z-index: 12;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}
a.nav-expander:before {
  content: 'MENU';
  float: left;
  position: relative;
  top: 6px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
a.nav-expander .nav-expander-top-bar,
a.nav-expander .nav-expander-bottom-bar,
a.nav-expander .nav-expander-middle-bar {
  content: '';
  display: block;
  width: 32px;
  height: 2px;
  margin: 6px 0 6px 50px;
  background-color: #747A7D;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
  outline: 1px solid transparent;
}
.nav-expanded a.nav-expander .nav-expander-top-bar {
  margin: 4px 0 0 50px;
  transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -webkit-transform: translateY(8px) rotate(45deg);
}
.nav-expanded a.nav-expander .nav-expander-bottom-bar {
  margin: 4px 0 0 50px;
  transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -webkit-transform: translateY(-8px) rotate(-45deg);
}
.nav-expanded a.nav-expander .nav-expander-middle-bar {
  opacity: 0;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  transition: all .15s ease;
}
.nav-expanded a.nav-expander:before {
  opacity: 0;
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
}
a.nav-expander:hover {
  cursor: pointer;
}
a.nav-expander i {
  color: #fff;
}
a.nav-expander.fixed {
  position: fixed;
}
.nav-expanded a.nav-expander.fixed {
    right: 20em;
}
nav {
  background: rgba(255,255,255,.9);
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}
.nav-expanded nav {
  right: 0;
}
body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}
#nav-close {
  font-weight: 300;
  font-size: 20px;
  padding-right: 10px;
}
.main-menu {
  padding-top: 25px;
}
.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}
.main-menu li:first-child {
  border: none;
}
.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}
.main-menu li a:hover {
  color: #333;
  text-decoration: none;
}
.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}
.main-menu a .caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #4f5963;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-top: 8px;
}
.main-menu a:hover .caret {
  border-top-color: #4f5963;
}
.main-menu li.open > a > .caret {
  border-top: none;
  border-bottom: 4px solid #4f5963;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.main-menu li.open > a:hover > .caret {
  border-bottom-color: #4f5963;
}
.main-menu li > a > i.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}
.main-menu li > a:hover > i.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

/******************************************

BUTTONS

********************************************/

.btn {
  background-color: transparent;
  border-radius: 0;
  border-width: 2px;
  transition: all .25s linear;
  text-transform: uppercase;
}
.btn-primary {
  color: #2e6da4;
}

/******************************************

FORMS

********************************************/

.form-control {
  border-radius: 0;
    border: 2px solid #ccc;
    height: 45px;
    box-shadow: 7px 7px 0 -1px rgba(0,0,0,.1);
    -webkit-box-shadow: 7px 7px 0 -1px rgba(0,0,0,.1);
    -moz-box-shadow: 7px 7px 0 -1px rgba(0,0,0,.1);
}

/******************************************

FOOTER

********************************************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.footer .text-muted {
  padding: 20px 0;
  margin-bottom: 0;
}

/******************************************

HOME PAGE

********************************************/

.bg-page-header.home {
  background-image: url(http://placehold.it/1500x850);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.bg-page-header.home .container {
  max-width: 60%;
  padding: 20% 0;
}

/******************************************

ABOUT PAGE

********************************************/

#about {
  background-image: url(../img/blue_lined_background.jpg);
  background-size: cover;
  background-position: center top;
}
.bg-lead-in {
  padding-top: 2.25em;
}

.bg-lead-in .title {
  font-size: 2.25em;
  line-height: 1.75em;
  text-transform: uppercase;
}
.bg-lead-in .subtitle {
  font-size: 1.2em;
  line-height: 1.5em;
}


/******************************************

WORK PAGE

********************************************/

#work {
  background-image: url(../img/blue_lined_background.jpg);
  background-size: cover;
  background-position: center top;
}
.bg-portfolio-item-link {
  height: 175px;
  display: block;
  background-image: url(http://placehold.it/1500x175);
  background-size: cover;
  background-position: center top;
  border-bottom: 1px solid #555;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  cursor: pointer;
  position: relative;
}
.bg-portfolio-link-content-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.35);
  position: absolute;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.bg-portfolio-item-link:hover {
  height: 250px;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.10);
  box-shadow: inset 0 0 100px rgba(0,0,0,.10);
  text-decoration: none;
}
.bg-portfolio-link-content {
  max-width: 675px;
  margin: 0 auto;
  text-align: center;
  padding: 27.5px 0;
  position: relative;
  z-index: 10;
  color: #fff;
  text-shadow: 0 0 10px #333;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.bg-portfolio-link-content.fadeOut,
.bg-portfolio-link-content-background.fadeOut {
  opacity: 0;
}

/******************************************

PROJECT SINGLE PAGES

********************************************/

.bg-image-vid-container{
  margin-bottom: 20px;
}
.bg-project-site-link {
  font-size: 1.5em;
}

/******************************************

CONTACT PAGE

********************************************/

#contact {
  background-image: url(../img/blue_lined_background.jpg);
  background-size: cover;
  background-position: center top;
}
.bg-social-share-heading {
  text-align: center;
  text-transform: uppercase;
}
.bg-social-share-links {
  margin-top: 40px;
  text-align: center;
}
.bg-social-share-links a {
  position: relative;
  line-height: 50px;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  color: #ccc;
}
.bg-social-share-links a:hover {
  color: #23527c;
}
.bg-social-share-links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #ccc;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.bg-social-share-links a:hover:before {
  border-color: #23527c;
}